*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-image: url(../img/nuevo\ fondo\ marron.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    
}

header{
    display: flex;
    flex-direction: row;
    nav{
        background: rgb(0,0,0);
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(255,17,17,1) 100%);
        height: 80px;
        width: 100%;
        .checkbtn{
            display: none;
            font-size: 30px;
            line-height: 80px;
            margin-right: 40px;
            color: white;
            float:right
            
        }
        #check{
            display: none;
        }
        ul{
            float:right;
            margin-right: 20px;
            li{
                display: inline-block;
                line-height: 80px;
                margin: 0 5px;
                a{
                    font-size: 1.5rem;
                    padding: 7px 13px;
                    text-decoration: none;
                    color: rgb(255, 255, 255);
                    &:hover{
                        color: aqua;
                        transition: 1s;
                    }

                }
            }
        }
        .enlace{
            padding: 10px 50px;
        
        .logo{
            height: 60px;
        }
                    
        }
    }
}

@media screen and (max-width: 480px){
    header nav .checkbtn{
        display: block;
    }
    nav{
        position: fixed;
    }
    header nav ul{
        position: fixed;
        width: 100%;
        height: 100%;
        background:black;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
    }
    
    header nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
        text-align: center;
    }

    nav ul li a{
        font-size: 1.5rem;
    }

    #check:checked ~ ul{
        left:0;
    }
    
    li a:hover{
        color: aqua;
        transition: 1s;
    }

    .fotico{
        width: 100%;
        height: 60%;
        padding-top: 16%;
    }

    .seccion-tres div{
        flex-direction: column;
    }

    .seccion-tres .m-r-m img{
        width: 80% !important;
    }

    .seccion-tres div iframe{
        display: none;
    }

    p{
        font-size: 1rem;
    }

    .info-final p{
        font-size: 1rem !important;
    }
}

.fotico{
    display: flex;
    justify-content: center;
    width: 100%;
    padding-bottom: 2%;
    border-radius: 0;
}

article{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h1{
        padding-top: 6%;
        margin: 2%;
    }
    p{
        margin-bottom: 2%;
    }
}

.segundo-titulo{
    
    text-align: center;
    font-size: 1.5rem;
    color: white; 
    margin: 2%;
    article{ 
        img{
            margin-bottom: 7%;
            width: 80%;
            border-radius: 100px;
        p{
            color: white;
            font-size: 1.5rem;
            padding: 2%;   
        }
        }
    }
}

.seccion-tres{
    
    text-align: center;
    color: white;
    .m-r-m{
        display: flex;
        align-items: center;
        margin: 1%;
        padding: 1%;
        h3{
            padding: 2%;
            margin: 2%;
        }
        img{
            border-radius: 100px;
            width: 45%;
            margin: 2%;
        }
        iframe{
            width: 50%;
            border-radius: 80px;
            margin: 2%;
        }
    }
}

.articulo {
    
    text-align: center;
    color: white;
    font-size: 1.5rem;
    margin: 1%;
    padding: 1%;
}

.info-final{
    text-align: center;
    color: white;
    
    h4{
        margin: 2%;
        padding-top: 8%;
    }
    p{
        margin: 2%;
        padding: 2%;
        font-size: 1.5rem;
    }
    img{
        width: 80%;
    }
}

img{
    border-radius: 100px;
    vertical-align: 0;
}

iframe{
    border-radius: 30px;
}

p{
    margin-bottom: 0;
}

footer{
    color: white;
    background-color:rgba(3, 1, 1, 0.644)  ;
    text-align: center;
    margin-top: 3%;
    a{
        text-decoration: none;
    }
}