/*-------------------------RAZAS------------------------*/
.titulo-razas{
    text-align: center;
    color: white;
    font-family: 'Permanent Marker', cursive;
    padding: 5%;
}

.edit-c{
    margin: auto;
}

.p-carrusel{
    margin-bottom: 7%;
}

.p-carrusel p{
    color: rgb(0, 0, 0);
}
